In [42]:
f = open('ls_long_sort_orig_qdist_train.conll')
f = f.read()
f = f.split('\n')

In [48]:
files = ['ls_long_sort_orig_qdist_dev.conll', 'ls_long_sort_orig_qdist_science_dev.conll',\
        'ls_long_sort_orig_qdist_science_test.conll', 'ls_long_sort_orig_qdist_test.conll',\
        'ls_long_sort_orig_qdist_train.conll',\
        'ls_long_sort_orig_qdist_train_science.conll']

for fil in files:
    print(fil)
    f = open(fil)
    f = f.read()
    f = f.split('\n')
    sent = ''
    sents = []
    for i in range(len(f)):
        line = f[i].split('\t')
        if len(line) < 2:
            #print(sent)
            sents.append(sent)
            sent = ''

        else:
            sent += line[1]
    print('extractions :' + str(len(sents)))
    print('sents :' + str(len(list(set(sents)))))

ls_long_sort_orig_qdist_dev.conll
extractions :5270
sents :2267
ls_long_sort_orig_qdist_science_dev.conll
extractions :64
sents :43
ls_long_sort_orig_qdist_science_test.conll
extractions :17003
sents :9063
ls_long_sort_orig_qdist_test.conll
extractions :5375
sents :2403
ls_long_sort_orig_qdist_train.conll
extractions :46017
sents :19626
ls_long_sort_orig_qdist_train_science.conll
extractions :80483
sents :38892

In [53]:
files = [
        'ls_long_sort_orig_qdist_train_science.conll']

for fil in files:
    print(fil)
    f = open(fil)
    f = f.read()
    f = f.split('\n')
    sent = ''
    sents = []
    for i in range(200000):
        line = f[i].split('\t')
        if len(line) < 2:
            #print(sent)
            sents.append(sent)
            sent = ''

        else:
            sent += line[1]
    print('extractions :' + str(len(sents)))
    print('sents :' + str(len(list(set(sents)))))

ls_long_sort_orig_qdist_train_science.conll
extractions :10907
sents :6417

In [18]:
f.read().split('\n')[5]

IndexError: list index out of range

In [44]:
len(list(set(sents)))

19626

In [45]:
len(sents)

46017

In [40]:
set(sents)

{''}

In [41]:
sents[4]

''

In [52]:
""" Usage:
    viz_tags --in=INPUT_FILE --out=OUTPUT_FILE
"""
from matplotlib.backends.backend_pdf import PdfPages
import os
import pandas as pd
import matplotlib
#matplotlib.use('Agg')
import matplotlib.pyplot as plt

files = ['ls_long_sort_orig_qdist_dev.conll', \
'ls_long_sort_orig_qdist_science_dev.conll', \
'ls_long_sort_orig_qdist_science_test.conll', \
'ls_long_sort_orig_qdist_test.conll', \
'ls_long_sort_orig_qdist_train.conll', \
'ls_long_sort_orig_qdist_train_science.conll' \

]

for input_fn in files:
    print(input_fn)
    #input_fn = 'ls_long_sort_orig_qdist_dev.conll'
    df = pd.read_csv(input_fn, sep = "\t", skip_blank_lines = True, header = None)
    df = df.groupby(7).count().reset_index()
    df = df[(df[7] == 'A0-B') | (df[7] == 'A1-B') | (df[7] == 'A2-B') | (df[7] == 'A3-B') | (df[7] == 'A4-B') | (df[7] == 'A5-B')]
    df = df[[7,1]]
    df[2] = df[1].shift(-1)
    df = df.fillna(0)
    df[3] = df[1] - df[2]
    df[4] = list(range(len(df)))
    df[4] = df[4] + 1
    print((df[3] * df[4]).sum()/df[3].sum())
    
    
    #print(df[df[7] == 'O'][0]/ df[0].sum())

#ax = df.groupby(7).count()[1].plot.pie(autopct='%1.1f%%')
#ax.set_title('distribution of tag labels')
#pp = PdfPages(output_fn)
#fig = ax.get_figure()
#pp.savefig(fig)
#fig.clear()
#pp.close()

ls_long_sort_orig_qdist_dev.conll
2.1473044798785117
ls_long_sort_orig_qdist_science_dev.conll
2.0476190476190474
ls_long_sort_orig_qdist_science_test.conll
2.007355104442483
ls_long_sort_orig_qdist_test.conll
2.1036664805509027
ls_long_sort_orig_qdist_train.conll
2.143267098569503
ls_long_sort_orig_qdist_train_science.conll
2.069120242623114

In [43]:
df[2] = df[1].shift(-1)
df = df.fillna(0)
df[3] = df[1] - df[2]
df[4] = list(range(len(df)))
df[4] = df[4] + 1
(df[3] * df[4]).sum()/df[3].sum()

In [45]:
(df[3] * df[4]).sum()/df[3].sum()

2.069120242623114

In [36]:
df

       7      1        2        3
0   A0-B  80454  63476.0  16978.0
2   A1-B  63476  19098.0  44378.0
4   A2-B  19098   3140.0  15958.0
6   A3-B   3140    292.0   2848.0
8   A4-B    292      9.0    283.0
10  A5-B      9      0.0      9.0

In [49]:
    df = pd.read_csv('dev.gold_conll', sep = "\t", skip_blank_lines = True, header = None)

In [50]:
df.head()

      0    1    2        3   4  5  6  7  8  9  10      11 12
0  train  0.0  0.0      QVC  XX  -  -  -  -  -  *  (ARG0*  -
1  train  0.0  1.0  Network  XX  -  -  -  -  -  *       *  -
2  train  0.0  2.0     Inc.  XX  -  -  -  -  -  *      *)  -
3  train  0.0  3.0     said  XX  -  -  -  -  -  *    (V*)  -
4  train  0.0  4.0       it  XX  -  -  -  -  -  *  (ARG1*  -

In [51]:
files = ['train.gold_conll', \
'dev.gold_conll' \
]

for input_fn in files:
    print(input_fn)
    #input_fn = 'ls_long_sort_orig_qdist_dev.conll'
    df = pd.read_csv(input_fn, sep = "\t", skip_blank_lines = True, header = None)
    df = df.groupby(11).count().reset_index()
    df = df[(df[11] == '(ARG0*') | (df[11] == '(ARG1*') | (df[11] == '(ARG2*') | (df[11] == '(ARG3*') | (df[11] == '(ARG4*') | (df[11] == '(ARG5*')]
    df = df[[11,1]]
    print(df)
    df[2] = df[1].shift(-1)
    df = df.fillna(0)
    df[3] = df[1] - df[2]
    df[4] = list(range(len(df)))
    df[4] = df[4] + 1
    print((df[3] * df[4]).sum()/df[3].sum())

train.gold_conll
        11    1
0   (ARG0*  3778
2   (ARG1*  3826
4   (ARG2*  1627
6   (ARG3*   422
8   (ARG4*    80
10  (ARG5*     7
2.5780836421386977
dev.gold_conll
        11    1
0   (ARG0*  1275
2   (ARG1*  1262
4   (ARG2*   561
6   (ARG3*   153
8   (ARG4*    26
10  (ARG5*     1
2.5709803921568626

In [ ]:
#test is 2.45